.burgerIngredients {
    composes: mt-10 mr-10 from global;
    box-sizing: border-box;
}

.header {
    composes: text text_type_main-large mb-5 from global;
}

.content {
    height: calc(100vh - 260px);
    overflow-y: scroll; 
    position: relative;
}

.content::-webkit-scrollbar {
    width: 7px;
    background-color: #131316;
}

.content::-webkit-scrollbar-thumb {
    background-color: #8585AD;
}
