.placeOrderWrap {
    composes: mt-10 pr-7 from global;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    align-self: flex-end;
 }

 .totalPrice {
    composes: mr-2 text text_type_digits-medium from global;
 }
 
 .totalPriceWrap {
    display: flex;
    composes: mr-10 from global;
 }
 
 .totalPriceWrap svg {
    width: 32px;
    height: 35px;
 }